/*
Colors' code:
PINK : #b41a83; // primary color.
Dark Blue : #1e3f49// Secondary color.
White: #FFFFFF; // White Color
Off White: #efefef; // Off White color // used for by numbers section
Dark Gray: #4c5051; // text color in the footer
font-family: 'Montserrat', sans-serif;


*/
