/* main styles */

/* the message div */
body {
    margin: 0;
    padding: 0;
}
.row{
	width: 100%;
}
.main-nav{
	position: absolute;
	height: 95% !important;
}
.bg-light{
	float: right;
	background-color: transparent !important;
	z-index: 1 !important;
	animation:  moveInRight 1s ease-out !important;
}
.bg-light.bg-dark{
	background-color: #000000a3 !important;
}
@media screen and (max-width: 767px) {
	.main-nav{
		height: 60% !important;
	}
	.bg-light{
		padding: 0 !important;
		margin-top: 10px !important;
	}
	.btn-outline-purble{
		width: 70% !important;
		margin: 10px 0 20px 23px !important;
	}
	.breck{
		display: block !important;
	}
	.breck::before {
		content: attr(data-text) !important;
  		padding: 1px 8px !important;
	}
	.message{
		padding-top: 10px !important;
	}
	#logo{
		margin: 10px 20% !important;
	}
	.nav-item{
		color: white !important;
	}
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #b41a83;
}
.navbar-toggler {
  border-color: #b41a83 !important;
} 
.navbar-nav{
	text-align: center;
}
.navbar-toggler:focus   {
	outline-color: #b41a83 !important;
}
.top {
    width: 100%;
    position: sticky;
    top: 0%;
    text-align: center;
    z-index: 16;
    box-shadow: 10px 0px 20px black;
}

/* the start message text */
.message {
    position: relative;
    font-size: 15px;
    text-align: center;
    background-color: white;
    width: 100%;
    margin: 0;
}


/* the slider div */
.slider {
    z-index: 0;
    width: 100%;
}


/* rbk logo */
#logo {
    max-width: 120px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin: 5px 20%;
}


/* the normal button */
.btn-purble {
    font-weight: 300;
    border-width: 2px;
    background-color: #b41a83;
    color: white;
    font-size: 15px;    
    border-style: solid;
    margin: 10px;
}


.slide.active {
    background-color: #b41a83;
}

.navbar-light .navbar-toggler-icon{
	background-image: url("../images/Hamburger_icon.png") !important;
}
/* the outlined button */
.btn-outline-purble {
    border-color: #b41a83;
    font-weight: 600;
    border-width: 2px;
    background-color: transparent;
    color: #b41a83;
    font-size: 15px;
    margin-left: 6px;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    padding: 10%;
}


.w-100 {
  max-height: 700px !important;
  min-height: 400px !important;
  min-width: auto;
}

li.slide {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

li.slide:hover {
    background-color: #ffffff80;
}


/* Animation */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        bottom: -585px;
    }

    80% {
        bottom: -80;
    }

    100% {
        opacity: 1;
        bottom: -150;
    }
}

/* Hamza*/
/* First Section */

#by_numbers_Des {
    background-color: #efefef;
    color: #b41a83;
    font-size: 20px;
    display: none;
}

#by_numbers_Mob {
    background-color: #efefef;
    color: #b41a83;
    font-size: 20px;
    display: none;
}

#rbklogo {
    width: 135px;
    cursor: pointer;
}

#logotxt {
    font-size: 22px;
    text-align: center;
}

.style{
    text-align: center;
    font-size: 19px;
    color: #b41a83;
}

#nums {
    font-size: 22px;
    color: #b41a83;
    text-align: center;
    font-weight: bold;
}

.by_numbers table tr td {
    border-right: 1px solid rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    height: 30px;
}
  
.by_numbers table tr td:last-of-type {
    border: none;
}
 

/* Text popup */

[data-popup] {
    position: relative;
}
  
[data-popup]:before, [data-popup]:after {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: .15s ease opacity, .15s ease transform;
    will-change: opacity transform;
    content: "";
}

[data-popup]:hover:before, [data-popup]:hover:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 1;
}

[data-popup]:hover:before {
    bottom: 100%;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    content: attr(data-popup);
    white-space: nowrap;
}

[data-popup]:hover:after {
    top: 0;
    height: 0;
    width: 0;
    border: solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    content: "";
}
  
.by_numbers a {
    color: black;
    display: inline-block;
    margin-left: 300px;
    margin-top: 300px;
}
  

 /* hr tag code */
 /* The hr tag pointing down */
 
#hrdown.hr {
    width:100%;
    height: 1px;
    background: #b41a83;
    position: relative;
    margin: 0 auto;
}

#hrdown.hr:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #b41a83 transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 49%;
}

#hrdown.hr:before {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 17px 15px 0;
    border-color: #b41a83 transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 49%;
}

/* The hr tag pointing up */

#hrup.hr {
    width:100%;
    height: 1px;
    background: #b41a83;
    position: relative;
    margin: 0 auto;
}

#hrup.hr:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #b41a83 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -14px;
    left: 49%;
}

#hrup.hr:before {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #b41a83 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 49%;
}

/* Second Section  */

#first_bootcamp {
    background-color: #b41a83;
    color: #FFFFFF;
}

#FBK {
    font-size: 20px;
}

/* Third Section  */

#program_info {
    background-color: #1e3f49;   
}

#firsttxt {
    color: #b41a83;
    font-size: 25px;
}

#sectxt {
    color: #FFFFFF;
    font-size: 25px;
}

#learnbtn {
    width: 300px;
    height: 53px;
    font-size: 18px;
    border-radius: 0%;
    border-width: 2px;
    border-color: #b41a83;
    background-color: transparent;
    color: #FFFFFF;
}

/* Forth Section */

#get_started {
    background-color: #b41a83;
    color: #FFFFFF;
}

 /* hr tag and ready text styling*/
.ut-hr-txt {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
  }
  
  .ut-hr-txt hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.432), rgb(255, 255, 255), rgba(255, 255, 255, 0.432));
    height: 2px;
    margin-top: 0.7em !important;
    margin-bottom: 0px !important;
    width: 85%;
  }
  
  .ut-hr-txt span {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    position: relative;
    top: -0.8em;
    background-color: #b41a83;
  }

  #applybtn {
    width: 300px;
    height: 53px;
    font-size: 20px;
    border-radius: 0%;
    border-width: 2px;
    border-color: #1e3f49;
    background-color: transparent;
    color: #FFFFFF;
  }
  /*Samer*/
*{
    box-sizing: border-box; 
    font-family: 'Fira Sans', sans-serif;
}
.Grads hr{
	width: 50%;
}
.Grads .pink{
	color: #b41a83;
	text-align: center;
}
.companySlide{
	width: 100%;
	padding-bottom: 3%;
}
.empty-space{
	min-width: 8.33%;
	min-height: 100%;
	background-color: white;
	z-index: 10;
}
.Arrow{
	width: 4.16%;
}
#LArrow{
	background-image: url("../images/leftArrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 70%;
	margin: 0;
	padding: 0;
	float:left;
	background-position: center;
	cursor: pointer;
}
#RArrow{
	background-image: url("../images/rightArrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 70%;
	margin: 0;
	padding: 0;
	float:right;
	background-position: center;
	cursor: pointer;
}
.col{
	padding: 0;
}
.row{
	width: 100%;
	margin: 0;
	height: 100%;
}
.companyLogo{
	margin-top: 5%;
	max-width: 100%; 
	padding: 10% 5%;
	margin: 0;
}
.Arrow{
	background-color: white;
	z-index: 10;
}
.Our-Grads{
	width: 100%;
	padding: 0;
	height: 400px;
}
#Stories{
	background-image: url("../images/image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 40%;
	height: 100%;
	position: relative;
	border-right: 6px solid white;
}
@media screen and (max-width: 600px) {
	.Grads{
		margin: 0 2% !important;
	}
	#Stories{
		width: 100% !important;
		border-right: 0 !important;
		border-bottom: 6px solid white !important;
	}
	#GradsImage{
		width: 100% !important;
		height: 50% !important;
	}
	#GradsUpImage{
		width: 50% !important;
		height: 100% !important;
		border-bottom: 0 !important;
		border-right: 3px solid white !important;
	}
	#GradsDownImage{
		width: 50% !important;
		height: 100% !important;
		border-top: 0 !important;
		border-left: 3px solid white !important;
	}
	#GradsSlide{
		width: 100% !important;
		height: 100% !important;
		border-left: 0 !important;
		border-top: 6px solid white !important;
		padding: 10% 10% 5% 10% !important;
	}
	.companySlide{
		padding: 0 0 3% 0 !important;
	}
	#GradText{
		font-size: medium !important;
	}
}
#SuccessStories{
	height: 25%;
	background-color: rgba(30, 63, 73,0.7);
	width: 100%;
	position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
}
#SuccessStoriesWord{
	padding: 7%;
	margin: 0;
    font-size: x-large;
    width: fit-content;
}
#SuccessStoriesButton{
	background-color: #b41a83;
	width: 33.3%;
	height: 33.3%;
	text-align: center;
	padding: 2%;
	position: absolute;
    bottom: 0;
    right: 0;
}
.Grads a{
	color: white;
}
.Grads a:hover{
	color: white;
}
#GradsImage{
	width: 20%;
	height: 100%;
}
#GradsUpImage{
	background-image: url("../images/image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 3px solid white;
	height: 50%;
	width: 100%;
}
#GradsDownImage{
	background-image: url("../images/image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 3px solid white;
	height: 50%;
	width: 100%;
}
#GradsSlide{
	background-color: #1e3f49;
	border-left: 6px solid white;
	width: 40%;
	padding: 4% 4% 2% 4%;
	position: relative;
}
#GradsSlide:before {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  border-bottom: 80px solid #b41a83;
  border-left: 80px solid #1e3f49;
  width: 0;
}
#GradSlideTop{
    text-align: justify;
    line-height: 1;
    height: 60%;
    color: white;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.Grads p{
	margin: 0;
}
#line{
	width: 100%;
	height: 1.4vh;
}
#gradSlideBottom{
	padding-top: 3%;
    height: 40%;
    position: absolute;
    bottom: 0;
}
#gradInfo{
	height: 80%;
	position: relative;
}
#GradPicture{
	height: 100%; 
	float: left;
}
#GradText{
	padding-left: 4%;
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 0.85;
    width: fit-content;
    font-size: small;
}
#gradName{
	color: white;
}
#gradSpecialized{
	color: #b41a83;
}
#gradCompany{
	color: #0c2930;
}
.Grads .carousel{
	height: 100%;
	position: relative;
}
.Grads .carousel-inner{
	height: 100%;
}
.Grads .carousel-item{
	height: 90%;
}
.Grads .carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 20px;
  margin: 0 5px;
  background-color: #0c2930;
}
.Grads .carousel-indicators .active {
    background-color: #b41a83;
}
/*abdullatif*/
.foot ::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

.foot :-moz-placeholder {
   color: #808080;
   text-align: center;
}



.foot form {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 170px;
    margin-left: 170px;
}

.foot .pink {
    color: #b41a83;
}

.foot .p {
    background-color: #b41a83;
    border: none;
    width: 100%;
    margin:0% 1.5%;
 }

.foot textarea{ 
    background-color:#e6e6e6 !important;
} 

.foot input[type="text"]{
background-color:#e6e6e6 !important;
}
.foot input[type="email"]{
background-color:#e6e6e6 !important;
}

.foot .line {
    height: 200px;
    background-color: #b41a83: 
}
.icons{
	padding: 10px 0;
 }
.foot footer {
	text-align: center;
    border-top: solid;
    border-color:#b41a83;
    background-color: #192325;
} 
.foot .questions{
	margin-bottom: 10px; 
}
.foot p,a {
    color :gray;
    font-size: 12px;
}
.foot p {
    padding: 10px;
    margin: 0;
}
.foot h6 {
    color: #FFFFFF;
}

.foot .top-margin {
   	margin-top: 30px;
    margin-bottom: 10px;  
}

i.fab {
	width: 33px;
    height: 33px;
	display: inline-block;
  	border-radius: 50%;
  	box-shadow: 0px 0px 2px #888;
  	padding: 0.8em 0.9em;
  	background-color: white;
  	color: black;
  	text-align: center;
}
.foot a:hover { 
  	color: #b41a83;
  	text-decoration: none;
}

.foot .horizontal-line{
  	background-color: gray; 
  	height:1px;
  	width: 70%;
}

@media screen and (max-width: 600px) {
	.foot .col{
		min-width: 100%;
	}
	.foot{
		margin-top:620px; 
	}
    
    .foot #fName, #email {
      margin-bottom: 20px;
    }
    .foot form {
      margin: 25px 0px 0px 0px;
    }
    .foot footer {
      margin: 0px;
      text-align: center;
    }
}